
*{
margin:0;
padding:0;
box-sizing:border-box;
}

.homepage-header{
    background-image: url('musicnote.png');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 100px;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgb(155, 131, 131);
    background-color:rgb(249, 250, 168);
    color:rgb(66, 40, 40);
    font-family:monospace;
}
@media screen and (max-width: 480px){
    .homepage-header {
        height:20vh;
    }
}
.inner-images{
    width:200px;
    height:200px;
    border-radius:50%;
    box-shadow: 2px 2px 3px 2px rgb(247, 232, 35); 
    margin-left:15px;
    margin-top:20px;
}
.container{
    margin-top:4%;
    width:80%;
    height:80%;
    margin:9px;
    justify-content:space-around;
    width:100%;
}
@media screen and (max-width: 480px){
    .container {
        flex-wrap:wrap;
    }
}
.container-panier{
    justify-content: space-around;
    display:flex;
}
.list{
    padding:10px;
    list-style: none;
    font-size: 16px;
    display:flex;
    column-gap: 15px;
}
h3{
    font-size:15px;
    padding:10px;
}
.name{
    font-family: monospace;
    font-size:20px;
    margin-left:15px;
    margin-top:25px;
    border:solid 1px yellowgreen;
    width:20%;
    text-align: center;
}
.nameP{
    font-family: monospace;
    font-size:20px;
    margin-left:15px;
    margin-top:25px;
    border:solid 1px yellowgreen;
    width:90%;
    text-align: center;
}
@media screen and (max-width: 480px){
    .name, .nameP {
        width:100%;
    }
}
.price{
    font-family: monospace;
    font-size:15px;
    margin-left:15px;
    padding-bottom:10px;
    margin-top:10px;
}
#btn{
    width:180px;
    height:40px;
    border:none;
    border-radius:38px;
    color:rgb(51, 49, 45);
    background-color: goldenrod;
    margin-left:8px;
    margin-top:10px;
    font-family: monospace;

}
.audio{
    width:100px;
    margin-left:15px;
}
#cart-text{
font-family: monospace;
text-align: center;
font-size: 30px;
margin-top:15px;
text-shadow: 5px 3px 4px goldenrod;

}
.client-form{
    border: solid 1px goldenrod;
    width:600px;
    height:450px;
    margin-left:28%;
    margin-bottom:360px;
    margin-top:8%;
}
@media screen and (max-width: 480px){
    .client-form {
        width:90%;
        margin-left:5%;
    }
}
.client-form ul,li{
    list-style: none;
    padding:15px;
    padding-left:10px;
    font-family: monospace;
    

}
.form-container input{
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 0px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
     display:list-item;
     margin-left:150px;
     text-align: center;
     margin-bottom:10px;
}
.form-container input:focus{
    outline:none;
}
.form-container h3{
    text-align: center;
    margin-bottom:30px;
    font-family: monospace;
}
.form-container .btnValid{
   width:180px;
    height:40px;
    border:none;
    border-radius:38px;
    color:rgb(51, 49, 45);
    background-color: goldenrod;
    margin-left:31%;
    margin-top:35px;
}
.remove-button .Rbutton{
    width:180px;
    height:40px;
    border:none;
    border-radius:38px;
    color:rgb(51, 49, 45);
    background-color: goldenrod;
    margin-left:8px;
    margin-top:10px;
    font-family: monospace;
    
}

.icon{
    font-size:30px;
    font-family: monospace;
    color:green;
    color:rgb(59, 59, 240)
}

